.bgimage {
  background: url(/assets/bg_004.jpg) no-repeat;
  background-size: 140%;
}
.navbar-default {
  height: 250px;
}
*{ font-family: Trebuchet MS; }

.navbar {
  background: transparent url(/assets/fs_header-bar.png) no-repeat left top;
  height: 238px;
  border: none;
  opacity: .90;
  position: relative;
  z-index:100;
}
.navbar-brand{
  width: 80px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 100px;
  height: 80px;
}
#brand{
  color: #000;
  margin-left: 180px;
  margin-top: 60px;
  clear: both;
  width: 300px;
  font-weight:normal;
}
.navbar-default .navbar-nav > li > a{
  font-size: 22px;
}
.navbar-default .navbar-nav {
margin-left: 350px;
margin-top: 90px;
}
.container{
  margin-top: -105px;
}
.centered{
  padding-top: 100px;
  background-color: rgba(210,210,210, 0.8);
  opacity: 0.75;
  text-align: center;
  z-index: -1000;
}

.left-arrow{
  float: left;
  position: relative;
  top: 24px;
}
.right-arrow{
  float: right;
  margin-right: 37px;
  position: relative;
  top: -31px;
}
.header-text
{
  font-size: 25px;
  clear: both;
  width: 450px;
  margin-left: 300px;
}

.items {
  overflow: hidden;
  margin-bottom: 80px;
  margin: 0 -10px;
}
.item_name{
  float: left;
  width: 320px;
  height: 350px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
}
.item_title{
  font-size: 18px;
  position: relative;
  top: 10px;
}
.item_img{
  margin-top: 10px;
  margin-bottom: 15px;
}
