.bgimage {
  background: url(/assets/bg_004.jpg);
}
.navbar-default {
background-color: #d2d2d2;
opacity: 0.90;
margin-bottom: 0px;
height: 100px;
-webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 7px 5px rgba(0, 0, 0, 1);
box-shadow:         0px 7px 5px rgba(0, 0, 0, 1);
}
.navbar-brand{
background: url(/assets/fs_logo_small.png) no-repeat left center;
width: 80px;
margin-top: -40px;
margin-left: 30px;
margin-right: 100px;
height: 80px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 20px;
}
.navbar-default .navbar-nav{
  margin-left: 150px;
  margin-top: 45px;
}

#brand-text{
margin-left: 110px;
color: #000;
}

.container{

}
.centered{
  padding-top: 100px;
  background-color: #d2d2d2;
  opacity: 0.60;
  text-align: center;
}
