<h1>Menu</h1>

<div id = "menu">
  <ul>
    <% @categories.each do |category| %>
        <li>category: <%= category.name %></li>
        <% category.items.each do |item| %>
              <p>name: <%= item.name %></p>
              <p>description: <%= item.description %></p>
              <p>price: <%= item.price %></p>
        <% end %>
    <% end %>
  </ul>
</div>
