<div class='default-header'>
  <div class='left-static-arrow'><%= image_tag 'body_arrow_right.png' %></div>
  <div class="header-text">
    <% if element.class == Symbol %>
      <%= element %>
    <% end %>
  </div>
  <div class='right-static-arrow'><%= image_tag 'body_arrow_left.png' %></div>
</div>

